<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LM2ItemTracker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <LM2ItemTracker.Properties.Settings>
            <setting name="AlwaysOnTop" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BackgroundColour" serializeAs="String">
                <value>#FFFFFFFF</value>
            </setting>
            <setting name="MantraTextColour" serializeAs="String">
                <value>#FF000000</value>
            </setting>
            <setting name="ItemFillColour" serializeAs="String">
                <value>#FF000000</value>
            </setting>
            <setting name="WeaponsLayout" serializeAs="Xml">
                <value>
                    <ArrayOfBoolean xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <boolean>true</boolean>
                        <boolean>true</boolean>
                        <boolean>true</boolean>
                        <boolean>true</boolean>
                        <boolean>true</boolean>
                        <boolean>true</boolean>
                        <boolean>true</boolean>
                        <boolean>true</boolean>
                        <boolean>true</boolean>
                        <boolean>true</boolean>
                        <boolean>true</boolean>
                        <boolean>true</boolean>
                        <boolean>true</boolean>
                        <boolean>true</boolean>
                        <boolean>true</boolean>
                        <boolean>true</boolean>
                    </ArrayOfBoolean>
                </value>
            </setting>
            <setting name="UseItemLayout" serializeAs="Xml">
                <value>
                    <ArrayOfBoolean xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <boolean>true</boolean>
                        <boolean>true</boolean>
                        <boolean>true</boolean>
                        <boolean>true</boolean>
                        <boolean>true</boolean>
                        <boolean>true</boolean>
                        <boolean>true</boolean>
                        <boolean>true</boolean>
                        <boolean>true</boolean>
                        <boolean>true</boolean>
                        <boolean>true</boolean>
                        <boolean>true</boolean>
                        <boolean>true</boolean>
                        <boolean>true</boolean>
                        <boolean>true</boolean>
                        <boolean>true</boolean>
                    </ArrayOfBoolean>
                </value>
            </setting>
            <setting name="EquipItemLayout" serializeAs="Xml">
                <value>
                    <ArrayOfBoolean xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <boolean>true</boolean>
                        <boolean>true</boolean>
                        <boolean>true</boolean>
                        <boolean>true</boolean>
                        <boolean>true</boolean>
                        <boolean>true</boolean>
                        <boolean>true</boolean>
                        <boolean>true</boolean>
                        <boolean>true</boolean>
                        <boolean>true</boolean>
                        <boolean>true</boolean>
                        <boolean>true</boolean>
                        <boolean>true</boolean>
                        <boolean>true</boolean>
                        <boolean>true</boolean>
                        <boolean>true</boolean>
                        <boolean>true</boolean>
                        <boolean>true</boolean>
                        <boolean>true</boolean>
                    </ArrayOfBoolean>
                </value>
            </setting>
            <setting name="OtherItemLayout" serializeAs="Xml">
                <value>
                    <ArrayOfBoolean xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <boolean>true</boolean>
                        <boolean>true</boolean>
                        <boolean>true</boolean>
                        <boolean>true</boolean>
                        <boolean>true</boolean>
                        <boolean>true</boolean>
                        <boolean>true</boolean>
                        <boolean>true</boolean>
                        <boolean>true</boolean>
                        <boolean>true</boolean>
                        <boolean>true</boolean>
                        <boolean>true</boolean>
                        <boolean>true</boolean>
                        <boolean>true</boolean>
                        <boolean>true</boolean>
                        <boolean>true</boolean>
                        <boolean>true</boolean>
                        <boolean>true</boolean>
                        <boolean>true</boolean>
                        <boolean>true</boolean>
                        <boolean>true</boolean>
                        <boolean>true</boolean>
                        <boolean>true</boolean>
                        <boolean>true</boolean>
                    </ArrayOfBoolean>
                </value>
            </setting>
            <setting name="SoftwareLayout" serializeAs="Xml">
                <value>
                    <ArrayOfBoolean xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <boolean>true</boolean>
                        <boolean>true</boolean>
                        <boolean>true</boolean>
                        <boolean>true</boolean>
                        <boolean>true</boolean>
                        <boolean>true</boolean>
                        <boolean>true</boolean>
                        <boolean>true</boolean>
                        <boolean>true</boolean>
                        <boolean>true</boolean>
                        <boolean>true</boolean>
                        <boolean>true</boolean>
                        <boolean>true</boolean>
                        <boolean>true</boolean>
                        <boolean>true</boolean>
                        <boolean>true</boolean>
                        <boolean>true</boolean>
                        <boolean>true</boolean>
                        <boolean>true</boolean>
                        <boolean>true</boolean>
                        <boolean>true</boolean>
                        <boolean>true</boolean>
                        <boolean>true</boolean>
                        <boolean>true</boolean>
                        <boolean>true</boolean>
                    </ArrayOfBoolean>
                </value>
            </setting>
            <setting name="WindowWidth" serializeAs="String">
                <value>340</value>
            </setting>
            <setting name="WindowHeight" serializeAs="String">
                <value>800</value>
            </setting>
            <setting name="SilhouetteMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowRecent" serializeAs="String">
                <value>False</value>
            </setting>
        </LM2ItemTracker.Properties.Settings>
    </userSettings>
</configuration>